In [1]:
import pandas as pd

In [2]:
# create a list of all csv files in the dir
import glob
import os

csv_files = glob.glob(os.path.join("*.csv"))
csv_files

['arecanut.csv',
 'arhar_tur.csv',
 'bajra.csv',
 'banana.csv',
 'barley.csv',
 'black_pepper.csv',
 'cardamom.csv',
 'cashewnut.csv',
 'castorseed.csv',
 'coconut.csv',
 'coriander.csv',
 'cotton.csv',
 'cowpea_lobia.csv',
 'dry_chillies.csv',
 'garlic.csv',
 'ginger.csv',
 'gram.csv',
 'groundnut.csv',
 'guar_seed.csv',
 'horse_gram.csv',
 'jowar.csv',
 'jute.csv',
 'khesari.csv',
 'linseed.csv',
 'maize.csv',
 'masoor.csv',
 'mesta.csv',
 'moong.csv',
 'moth.csv',
 'niger_seed.csv',
 'onion.csv',
 'other_cereals.csv',
 'other_kharif_pulses.csv',
 'other_oilseeds.csv',
 'other_rabi_pulses.csv',
 'other_summer_pulses.csv',
 'peas_and_beans.csv',
 'potato.csv',
 'ragi.csv',
 'rapeseed_and_mustard.csv',
 'rice.csv',
 'safflower.csv',
 'sannhamp.csv',
 'sesamum.csv',
 'small_millets.csv',
 'soyabean.csv',
 'sugarcane.csv',
 'sunflower.csv',
 'sweet_potato.csv',
 'tapioca.csv',
 'tobacco.csv',
 'turmeric.csv',
 'urad.csv',
 'wheat.csv']

In [6]:
# remove the first and thrid row from each csv file
for file in csv_files:
    df = pd.read_csv(file)
    df = df.drop([1])
    df.to_csv(file, index=False)

In [3]:
pd.read_csv(csv_files[0])

,State,District,2000 - 2001,2001 - 2002,2002 - 2003,2003 - 2004,2004 - 2005,2005 - 2006,2006 - 2007,2007 - 2008,...,2013 - 2014,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023
0,Assam,Kokrajhar,2.74,0.93,1.02,2.12,NaN,0.63,1.28,2.13,...,0.81,1.48,0.81,0.83,0.51,0.83,0.62,0.63,0.63,0.65
1,Karnataka,Udupi,1.78,1.78,NaN,1.78,1.78,8.37,1.78,8.37,...,7.88,13.94,19.21,10.22,14.12,7.47,8.43,12.01,15.61,8.50
2,West Bengal,Bankura,2.00,2.00,18.40,2.90,NaN,1.03,0.82,0.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Karnataka,Davangere,0.96,0.96,NaN,0.96,0.96,4.68,0.96,4.68,...,13.16,7.19,8.82,11.35,14.52,9.32,8.32,10.83,11.85,8.40
4,Karnataka,Uttar kannad,1.36,1.36,NaN,1.36,1.36,6.48,1.36,6.48,...,11.14,12.69,13.21,13.31,11.90,14.08,14.32,14.34,14.50,12.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Assam,Hojai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.61,0.62,0.62,0.62
148,Kerala,Alappuzha,0.42,0.33,0.42,0.40,0.42,0.40,0.33,0.41,...,0.39,0.48,0.35,0.33,0.27,0.28,0.27,0.29,0.29,0.31
149,Assam,West karbi anglong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.59,0.51,0.51,0.51
150,Assam,Majuli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.46,0.47,0.47,0.47
151,Tamil Nadu,Thenkasi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.12,0.16,0.23

In [4]:
all_states_districts = set()

for file in csv_files:
    df = pd.read_csv(file)
    # reading all the state and district pairs and saving them in a set
    for index, row in df.iterrows():
        all_states_districts.add((row['State'], row['District']))
    
all_states_districts = list(all_states_districts)
print(len(all_states_districts))
all_states_districts

744

[('Jharkhand', 'Khunti'),
 ('Uttar Pradesh', 'Siddharth nagar'),
 ('Jharkhand', 'Bokaro'),
 ('Bihar', 'Sheohar'),
 ('Maharashtra', 'Beed'),
 ('Mizoram', 'Saitual'),
 ('Tamil Nadu', 'Coimbatore'),
 ('Uttarakhand', 'Nainital'),
 ('Maharashtra', 'Nanded'),
 ('Rajasthan', 'Pali'),
 ('Madhya Pradesh', 'Burhanpur'),
 ('Arunachal Pradesh', 'West siang'),
 ('Madhya Pradesh', 'Chhindwara'),
 ('Maharashtra', 'Ahilyanagar'),
 ('Uttar Pradesh', 'Hamirpur'),
 ('Uttar Pradesh', 'Jaunpur'),
 ('Madhya Pradesh', 'Balaghat'),
 ('Telangana', 'Nagarkurnool'),
 ('Haryana', 'Jhajjar'),
 ('Rajasthan', 'Karauli'),
 ('Tamil Nadu', 'Thiruvallur'),
 ('Tamil Nadu', 'Namakkal'),
 ('Jharkhand', 'Garhwa'),
 ('Gujarat', 'Kheda'),
 ('Assam', 'Nalbari'),
 ('Telangana', 'Jangoan'),
 ('Arunachal Pradesh', 'West kameng'),
 ('Bihar', 'Khagaria'),
 ('Arunachal Pradesh', 'Namsai'),
 ('Odisha', 'Nabarangpur'),
 ('Madhya Pradesh', 'Dhar'),
 ('Haryana', 'Sirsa'),
 ('Odisha', 'Dhenkanal'),
 ('Karnataka', 'Mysore'),
 ('Jammu and Kashmir', 'Kargil'),
 ('Assam', 'Sonitpur'),
 ('Himachal Pradesh', 'Chamba'),
 ('Bihar', 'Saran'),
 ('Madhya Pradesh', 'Shajapur'),
 ('Gujarat', 'Navsari'),
 ('Assam', 'Chirang'),
 ('Punjab', 'Kapurthala'),
 ('Telangana', 'Komaram bheem asifabad'),
 ('Haryana', 'Rohtak'),
 ('Uttar Pradesh', 'Kasganj'),
 ('Telangana', 'Hyderabad'),
 ('Bihar', 'Rohtas'),
 ('Arunachal Pradesh', 'Shi yomi'),
 ('Jammu and Kashmir', 'Kathua'),
 ('Tamil Nadu', 'Pudukkottai'),
 ('Tamil Nadu', 'Dharmapuri'),
 ('Punjab', 'Ludhiana'),
 ('Uttar Pradesh', 'Etah'),
 ('Uttar Pradesh', 'Bahraich'),
 ('Bihar', 'Arwal'),
 ('Assam', 'Bongaigaon'),
 ('Gujarat', 'Devbhumi dwarka'),
 ('Rajasthan', 'Bikaner'),
 ('Gujarat', 'Panch mahals'),
 ('Karnataka', 'Gulbarga'),
 ('Gujarat', 'Mahisagar'),
 ('Karnataka', 'Kodagu'),
 ('Rajasthan', 'Sikar'),
 ('Punjab', 'Malerkotla'),
 ('Tamil Nadu', 'Erode'),
 ('Gujarat', 'Banas kantha'),
 ('Uttar Pradesh', 'Muzaffarnagar'),
 ('Haryana', 'Faridabad'),
 ('Tamil Nadu', 'Nagapattinam'),
 ('Bihar', 'Gaya'),
 ('Maharashtra', 'Pune'),
 ('Andhra Pradesh', 'Vizianagaram'),
 ('Andhra Pradesh', 'Guntur'),
 ('West Bengal', 'Jhargram'),
 ('Maharashtra', 'Thane'),
 ('Arunachal Pradesh', 'Dibang valley'),
 ('Ladakh', 'Leh ladakh'),
 ('Haryana', 'Rewari'),
 ('Bihar', 'Sitamarhi'),
 ('Gujarat', 'Chhotaudepur'),
 ('Manipur', 'Tamenglong'),
 ('Uttar Pradesh', 'Budaun'),
 ('Nagaland', 'Peren'),
 ('Uttar Pradesh', 'Hardoi'),
 ('Uttar Pradesh', 'Gautam buddha nagar'),
 ('Punjab', 'Bathinda'),
 ('Assam', 'Darrang'),
 ('Jharkhand', 'Pakur'),
 ('Jharkhand', 'Dumka'),
 ('Tamil Nadu', 'Tiruppur'),
 ('Rajasthan', 'Bharatpur'),
 ('Punjab', 'Gurdaspur'),
 ('Uttar Pradesh', 'Sambhal'),
 ('Uttarakhand', 'Pauri garhwal'),
 ('Arunachal Pradesh', 'Lower subansiri'),
 ('Kerala', 'Kollam'),
 ('Goa', 'North goa'),
 ('Bihar', 'Siwan'),
 ('Haryana', 'Sonipat'),
 ('Maharashtra', 'Yavatmal'),
 ('Odisha', 'Sambalpur'),
 ('Jammu and Kashmir', 'Kulgam'),
 ('Karnataka', 'Koppal'),
 ('Puducherry', 'Pondicherry'),
 ('Arunachal Pradesh', 'Anjaw'),
 ('Meghalaya', 'West jaintia hills'),
 ('Telangana', 'Mulugu'),
 ('Uttar Pradesh', 'Lucknow'),
 ('Assam', 'Sivasagar'),
 ('Bihar', 'Purbi champaran'),
 ('Uttar Pradesh', 'Lalitpur'),
 ('Andhra Pradesh', 'Kadapa'),
 ('West Bengal', 'Maldah'),
 ('Gujarat', 'Surendranagar'),
 ('Chhattisgarh', 'Jashpur'),
 ('Karnataka', 'Bangalore rural'),
 ('West Bengal', '24 paraganas north'),
 ('Maharashtra', 'Parbhani'),
 ('Karnataka', 'Udupi'),
 ('Chhattisgarh', 'Bemetara'),
 ('Nagaland', 'Tseminyu'),
 ('Meghalaya', 'South west garo hills'),
 ('Maharashtra', 'Nandurbar'),
 ('Punjab', 'Fatehgarh sahib'),
 ('Tamil Nadu', 'Chennai'),
 ('Telangana', 'Warangal urban'),
 ('Madhya Pradesh', 'Betul'),
 ('Goa', 'South goa'),
 ('Kerala', 'Ernakulam'),
 ('Punjab', 'Patiala'),
 ('Arunachal Pradesh', 'Tawang'),
 ('Uttar Pradesh', 'Firozabad'),
 ('Madhya Pradesh', 'Vidisha'),
 ('Rajasthan', 'Bundi'),
 ('Arunachal Pradesh', 'Kra daadi'),
 ('Karnataka', 'Tumkur'),
 ('Kerala', 'Thrissur'),
 ('Punjab', 'Faridkot'),
 ('Jammu and Kashmir', 'Kishtwar'),
 ('Maharashtra', 'Jalgaon'),
 ('Karnataka', 'Raichur'),
 ('Chhattisgarh', 'Korea'),
 ('Bihar', 'Samastipur'),
 ('Bihar', 'Nawada'),
 ('Uttar Pradesh', 'Saharanpur'),
 ('Chhattisgarh', 'Bilaspur'),
 ('Assam', 'Tinsukia'),
 ('Madhya Pradesh', 'Bhopal'),
 ('Nagaland', 'Tuensang'),
 ('Maharashtra', 'Hingoli'),
 ('Bihar', 'Saharsa'),
 ('Bihar', 'Kishanganj'),
 ('Gujarat', 'Narmada'),
 ('Gujarat', 'Aravalli'),
 ('Assam', 'Jorhat'),
 ('Chhattisgarh', 'Bijapur'),
 ('Odisha', 'Nuapada'),
 ('Haryana', 'Karnal'),
 ('Madhya Pradesh', 'Guna'),
 ('Madhya Pradesh', 'Narsinghpur'),
 ('Uttar Pradesh', 'Baghpat'),
 ('West Bengal', 'Nadia'),
 ('Odisha', 'Malkangiri'),
 ('Uttar Pradesh', 'Chandauli'),
 ('Karnataka', 'Bellary'),
 ('Bihar', 'Katihar'),
 ('Rajasthan', 'Jaipur'),
 ('Karnataka', 'Davangere'),
 ('Andhra Pradesh', 'Eluru'),
 ('Tamil Nadu', 'Ramanathapuram'),
 ('Bihar', 'Pashchim champaran'),
 ('Telangana', 'Nizamabad'),
 ('Uttar Pradesh', 'Shamli'),
 ('Karnataka', 'Bengaluru urban'),
 ('Mizoram', 'Khawzawl'),
 ('Arunachal Pradesh', 'East siang'),
 ('Rajasthan', 'Jhalawar'),
 ('Chhattisgarh', 'Bastar'),
 ('Maharashtra', 'Dharashiv'),
 ('Chhattisgarh', 'Korba'),
 ('Haryana', 'Fatehabad'),
 ('Bihar', 'Gopalganj'),
 ('Gujarat', 'Amreli'),
 ('Telangana', 'Khammam'),
 ('Chhattisgarh', 'Gaurella-pendra-marwahi'),
 ('Telangana', 'Wanaparthy'),
 ('Uttar Pradesh', 'Jalaun'),
 ('Uttar Pradesh', 'Auraiya'),
 ('Maharashtra', 'Mumbai suburban'),
 ('Madhya Pradesh', 'Anuppur'),
 ('Punjab', 'Sangrur'),
 ('Madhya Pradesh', 'Shahdol'),
 ('Mizoram', 'Mamit'),
 ('Rajasthan', 'Rajsamand'),
 ('Rajasthan', 'Udaipur'),
 ('Bihar', 'Jehanabad'),
 ('Arunachal Pradesh', 'East kameng'),
 ('Madhya Pradesh', 'Neemuch'),
 ('Tamil Nadu', 'Vellore'),
 ('Uttar Pradesh', 'Ambedkar nagar'),
 ('Madhya Pradesh', 'Shivpuri'),
 ('Assam', 'Cachar'),
 ('Jharkhand', 'Koderma'),
 ('Uttar Pradesh', 'Faizabad'),
 ('Karnataka', 'Bagalkot'),
 ('Gujarat', 'Botad'),
 ('Puducherry', 'Mahe'),
 ('Maharashtra', 'Sangli'),
 ('Haryana', 'Gurgaon'),
 ('Jammu and Kashmir', 'Pulwama'),
 ('Madhya Pradesh', 'Rajgarh'),
 ('Odisha', 'Cuttack'),
 ('Uttar Pradesh', 'Shravasti'),
 ('Andhra Pradesh', 'Prakasam'),
 ('Chhattisgarh', 'Janjgir-champa'),
 ('Kerala', 'Pathanamthitta'),
 ('Maharashtra', 'Ratnagiri'),
 ('Maharashtra', 'Washim'),
 ('Meghalaya', 'South west khasi hills'),
 ('Telangana', 'Medak'),
 ('Jharkhand', 'Godda'),
 ('Arunachal Pradesh', 'Leparada'),
 ('Punjab', 'Firozepur'),
 ('Chhattisgarh', 'Kabirdham'),
 ('Odisha', 'Mayurbhanj'),
 ('Madhya Pradesh', 'Sagar'),
 ('Karnataka', 'Chitradurga'),
 ('Chhattisgarh', 'Khairgarh chhuikhadan gandai'),
 ('West Bengal', 'Alipurduar'),
 ('Telangana', 'Warangal'),
 ('Mizoram', 'Lunglei'),
 ('Uttar Pradesh', 'Aligarh'),
 ('Madhya Pradesh', 'Raisen'),
 ('Himachal Pradesh', 'Mandi'),
 ('Madhya Pradesh', 'Sidhi'),
 ('Tamil Nadu', 'Kallakurichi'),
 ('West Bengal', 'Purulia'),
 ('Daman and Diu', 'Diu'),
 ('Karnataka', 'Dakshin kannad'),
 ('Sikkim', 'Gangtok'),
 ('Rajasthan', 'Jaisalmer'),
 ('Uttar Pradesh', 'Rae bareli'),
 ('Karnataka', 'Shimoga'),
 ('Kerala', 'Alappuzha'),
 ('Karnataka', 'Kolar'),
 ('Bihar', 'Bhagalpur'),
 ('Uttar Pradesh', 'Kheri'),
 ('West Bengal', 'Coochbehar'),
 ('Tamil Nadu', 'Thanjavur'),
 ('Uttar Pradesh', 'Fatehpur'),
 ('Kerala', 'Kasaragod'),
 ('Bihar', 'Jamui'),
 ('Bihar', 'Madhepura'),
 ('Uttar Pradesh', 'Mathura'),
 ('Telangana', 'Karimnagar'),
 ('Uttar Pradesh', 'Allahabad'),
 ('Maharashtra', 'Chandrapur'),
 ('Manipur', 'Senapati'),
 ('Meghalaya', 'North garo hills'),
 ('Tamil Nadu', 'Thenkasi'),
 ('Madhya Pradesh', 'Jhabua'),
 ('Jharkhand', 'Jamtara'),
 ('Odisha', 'Deogarh'),
 ('Assam', 'Marigaon'),
 ('Rajasthan', 'Dholpur'),
 ('Andhra Pradesh', 'West godavari'),
 ('Uttar Pradesh', 'Kushi nagar'),
 ('Gujarat', 'Dang'),
 ('Nagaland', 'Zunheboto'),
 ('Haryana', 'Kaithal'),
 ('Rajasthan', 'Churu'),
 ('Haryana', 'Panchkula'),
 ('Jharkhand', 'Lohardaga'),
 ('Punjab', 'Nawanshahr'),
 ('Rajasthan', 'Sawai madhopur'),
 ('Madhya Pradesh', 'Niwari'),
 ('Tripura', 'Gomati'),
 ('Uttar Pradesh', 'Kanpur dehat'),
 ('Tripura', 'Dhalai'),
 ('Tamil Nadu', 'Salem'),
 ('Himachal Pradesh', 'Lahul and spiti'),
 ('Chhattisgarh', 'Narayanpur'),
 ('Karnataka', 'Chamarajanagar'),
 ('Gujarat', 'Mahesana'),
 ('Nagaland', 'Wokha'),
 ('Uttar Pradesh', 'Ballia'),
 ('Ladakh', 'Kargil'),
 ('Assam', 'Hailakandi'),
 ('Madhya Pradesh', 'Ujjain'),
 ('Kerala', 'Kannur'),
 ('Uttar Pradesh', 'Amroha'),
 ('Uttar Pradesh', 'Pilibhit'),
 ('Delhi', 'Delhi_total'),
 ('Haryana', 'Kurukshetra'),
 ('Uttarakhand', 'Bageshwar'),
 ('Maharashtra', 'Kolhapur'),
 ('Telangana', 'Medchal'),
 ('West Bengal', 'Howrah'),
 ('Bihar', 'Darbhanga'),
 ('Jharkhand', 'Deoghar'),
 ('Odisha', 'Koraput'),
 ('Rajasthan', 'Ajmer'),
 ('Rajasthan', 'Jodhpur'),
 ('Tamil Nadu', 'Theni'),
 ('Maharashtra', 'Akola'),
 ('Uttar Pradesh', 'Amethi'),
 ('Meghalaya', 'Ri bhoi'),
 ('Haryana', 'Jind'),
 ('Punjab', 'Muktsar'),
 ('Haryana', 'Charki dadri'),
 ('Rajasthan', 'Jhunjhunu'),
 ('Jammu and Kashmir', 'Samba'),
 ('Karnataka', 'Bidar'),
 ('Madhya Pradesh', 'Gwalior'),
 ('West Bengal', 'Birbhum'),
 ('Madhya Pradesh', 'Morena'),
 ('Telangana', 'Siddipet'),
 ('Madhya Pradesh', 'Alirajpur'),
 ('Madhya Pradesh', 'Khandwa'),
 ('Haryana', 'Mewat'),
 ('Gujarat', 'Kachchh'),
 ('Tamil Nadu', 'Tiruchirappalli'),
 ('Maharashtra', 'Palghar'),
 ('Jammu and Kashmir', 'Doda'),
 ('Telangana', 'Mahbubnagar'),
 ('Uttar Pradesh', 'Gonda'),
 ('Haryana', 'Bhiwani'),
 ('Gujarat', 'Dohad'),
 ('Punjab', 'Moga'),
 ('Punjab', 'Barnala'),
 ('Arunachal Pradesh', 'Pakke kessang'),
 ('Odisha', 'Jharsuguda'),
 ('Karnataka', 'Ramanagara'),
 ('Maharashtra', 'Nagpur'),
 ('Nagaland', 'Longleng'),
 ('Jharkhand', 'Giridih'),
 ('Madhya Pradesh', 'Dindori'),
 ('Rajasthan', 'Tonk'),
 ('Himachal Pradesh', 'Kangra'),
 ('Uttar Pradesh', 'Meerut'),
 ('Punjab', 'Pathankot'),
 ('Assam', 'Karbi anglong'),
 ('Gujarat', 'Ahmadabad'),
 ('Assam', 'Majuli'),
 ('Uttar Pradesh', 'Azamgarh'),
 ('Chhattisgarh', 'Sarangarh bilaigarh'),
 ('Jharkhand', 'Dhanbad'),
 ('Arunachal Pradesh', 'Lohit'),
 ('Rajasthan', 'Chittorgarh'),
 ('Uttar Pradesh', 'Pratapgarh'),
 ('Maharashtra', 'Chhatrapati Sambhajinagar'),
 ('Tamil Nadu', 'Sivaganga'),
 ('Madhya Pradesh', 'Singrauli'),
 ('Manipur', 'Churachandpur'),
 ('Maharashtra', 'Nashik'),
 ('Meghalaya', 'East garo hills'),
 ('Jammu and Kashmir', 'Srinagar'),
 ('Uttar Pradesh', 'Barabanki'),
 ('Bihar', 'Muzaffarpur'),
 ('Karnataka', 'Mandya'),
 ('Chhattisgarh', 'Mohla manpur ambagarh chouki'),
 ('Chhattisgarh', 'Mahasamund'),
 ('Tamil Nadu', 'Ranipet'),
 ('Haryana', 'Panipat'),
 ('Bihar', 'Nalanda'),
 ('Karnataka', 'Vijayanagar'),
 ('Telangana', 'Kamareddy'),
 ('Assam', 'West karbi anglong'),
 ('Maharashtra', 'Dhule'),
 ('Arunachal Pradesh', 'Tirap'),
 ('Chhattisgarh', 'Raigarh'),
 ('Andhra Pradesh', 'Palnadu'),
 ('Andhra Pradesh', 'Sri sathya sai'),
 ('Tamil Nadu', 'Thiruvarur'),
 ('Kerala', 'Kottayam'),
 ('Assam', 'Biswanath'),
 ('Kerala', 'Thiruvananthapuram'),
 ('Chhattisgarh', 'Rajnandgaon'),
 ('Assam', 'Dima hasao'),
 ('Manipur', 'Thoubal'),
 ('Tamil Nadu', 'Mayiladuthurai'),
 ('Maharashtra', 'Gondia'),
 ('Himachal Pradesh', 'Shimla'),
 ('Andhra Pradesh', 'Anakapalli'),
 ('Kerala', 'Idukki'),
 ('Uttar Pradesh', 'Kannauj'),
 ('Uttarakhand', 'Udam singh nagar'),
 ('Jharkhand', 'Palamu'),
 ('Punjab', 'Tarn taran'),
 ('Jammu and Kashmir', 'Poonch'),
 ('Mizoram', 'Aizawl'),
 ('Assam', 'Barpeta'),
 ('Tamil Nadu', 'Cuddalore'),
 ('Uttar Pradesh', 'Bareilly'),
 ('Chhattisgarh', 'Dhamtari'),
 ('Nagaland', 'Noklak'),
 ('Bihar', 'Kaimur (bhabua)'),
 ('Gujarat', 'Tapi'),
 ('Tamil Nadu', 'Virudhunagar'),
 ('Rajasthan', 'Pratapgarh'),
 ('Manipur', 'Chandel'),
 ('Madhya Pradesh', 'Harda'),
 ('Bihar', 'Begusarai'),
 ('Tamil Nadu', 'Villupuram'),
 ('Nagaland', 'Chumoukedima'),
 ('Odisha', 'Kendrapara'),
 ('Tamil Nadu', 'Perambalur'),
 ('Madhya Pradesh', 'Indore'),
 ('Madhya Pradesh', 'Damoh'),
 ('Bihar', 'Supaul'),
 ('Kerala', 'Palakkad'),
 ('Gujarat', 'Bharuch'),
 ('Jammu and Kashmir', 'Anantnag'),
 ('Uttar Pradesh', 'Sitapur'),
 ('Sikkim', 'Pakyong'),
 ('Punjab', 'Rupnagar'),
 ('Bihar', 'Sheikhpura'),
 ('Tamil Nadu', 'Kanchipuram'),
 ('West Bengal', 'Kalimpong'),
 ('Himachal Pradesh', 'Sirmaur'),
 ('Gujarat', 'Anand'),
 ('Chhattisgarh', 'Surguja'),
 ('Telangana', 'Mancherial'),
 ('Tripura', 'Unakoti'),
 ('Andhra Pradesh', 'Tirupati'),
 ('Chhattisgarh', 'Sukma'),
 ('Tamil Nadu', 'Madurai'),
 ('Andhra Pradesh', 'Nandyal'),
 ('Jharkhand', 'Chatra'),
 ('Uttar Pradesh', 'Hathras'),
 ('Telangana', 'Mahabubabad'),
 ('Manipur', 'Imphal east'),
 ('Telangana', 'Bhadradri'),
 ('Madhya Pradesh', 'Seoni'),
 ('Puducherry', 'Karaikal'),
 ('Chhattisgarh', 'Baloda bazar'),
 ('Tamil Nadu', 'Dindigul'),
 ('Meghalaya', 'South garo hills'),
 ('Telangana', 'Rangareddi'),
 ('Uttar Pradesh', 'Shahjahanpur'),
 ('Andhra Pradesh', 'Spsr nellore'),
 ('Telangana', 'Vikarabad'),
 ('Telangana', 'Suryapet'),
 ('Telangana', 'Nirmal'),
 ('Rajasthan', 'Jalore'),
 ('Himachal Pradesh', 'Kinnaur'),
 ('Madhya Pradesh', 'Sehore'),
 ('Gujarat', 'Vadodara'),
 ('Uttar Pradesh', 'Bijnor'),
 ('Bihar', 'Aurangabad'),
 ('Himachal Pradesh', 'Bilaspur'),
 ('Odisha', 'Balangir'),
 ('Madhya Pradesh', 'Khargone'),
 ('Uttarakhand', 'Dehradun'),
 ('Uttar Pradesh', 'Bulandshahr'),
 ('Tamil Nadu', 'Kanniyakumari'),
 ('Meghalaya', 'West khasi hills'),
 ('Andhra Pradesh', 'Srikakulam'),
 ('Tamil Nadu', 'Tirunelveli'),
 ('Andhra Pradesh', 'Konaseema'),
 ('Bihar', 'Purnia'),
 ('West Bengal', 'Paschim bardhaman'),
 ('Chhattisgarh', 'Durg'),
 ('Telangana', 'Jagitial'),
 ('Arunachal Pradesh', 'Upper siang'),
 ('Odisha', 'Baleshwar'),
 ('Uttar Pradesh', 'Unnao'),
 ('Uttarakhand', 'Tehri garhwal'),
 ('Jharkhand', 'East singhbum'),
 ('Punjab', 'Amritsar'),
 ('Uttarakhand', 'Pithoragarh'),
 ('Uttar Pradesh', 'Basti'),
 ('Uttar Pradesh', 'Sant ravidas nagar'),
 ('Tamil Nadu', 'Tirupathur'),
 ('Andaman and Nicobar Islands', 'South andamans'),
 ('Jharkhand', 'Latehar'),
 ('Odisha', 'Bargarh'),
 ('Andhra Pradesh', 'Annamayya'),
 ('Telangana', 'Narayanapet'),
 ('Chhattisgarh', 'Gariyaband'),
 ('Assam', 'Udalguri'),
 ('Tamil Nadu', 'Krishnagiri'),
 ('Andhra Pradesh', 'Krishna'),
 ('Bihar', 'Buxar'),
 ('Tripura', 'Khowai'),
 ('Uttar Pradesh', 'Hapur'),
 ('Uttar Pradesh', 'Kanpur nagar'),
 ('Uttar Pradesh', 'Ghazipur'),
 ('Nagaland', 'Kiphire'),
 ('Chhattisgarh', 'Manendragarh chirimiri bharatpur'),
 ('Rajasthan', 'Hanumangarh'),
 ('Himachal Pradesh', 'Hamirpur'),
 ('Assam', 'South salmara mancachar'),
 ('Assam', 'Dhubri'),
 ('Tamil Nadu', 'Thoothukudi'),
 ('Telangana', 'Yadadri'),
 ('Maharashtra', 'Buldhana'),
 ('Assam', 'Dibrugarh'),
 ('Karnataka', 'Hassan'),
 ('Odisha', 'Jagatsinghapur'),
 ('Jharkhand', 'Simdega'),
 ('Jammu and Kashmir', 'Bandipora'),
 ('Odisha', 'Jajapur'),
 ('Madhya Pradesh', 'Jabalpur'),
 ('Odisha', 'Kendujhar'),
 ('Karnataka', 'Bijapur'),
 ('Andaman and Nicobar Islands', 'North and middle andaman'),
 ('West Bengal', 'Purba bardhaman'),
 ('Uttar Pradesh', 'Sultanpur'),
 ('Uttar Pradesh', 'Banda'),
 ('Bihar', 'Munger'),
 ('West Bengal', '24 paraganas south'),
 ('Telangana', 'Peddapalli'),
 ('Assam', 'Charaideo'),
 ('Arunachal Pradesh', 'Siang'),
 ('Uttarakhand', 'Almora'),
 ('Nagaland', 'Mokokchung'),
 ('Haryana', 'Ambala'),
 ('Jammu and Kashmir', 'Rajauri'),
 ('Jammu and Kashmir', 'Baramulla'),
 ('Arunachal Pradesh', 'Upper subansiri'),
 ('Madhya Pradesh', 'Katni'),
 ('Chhattisgarh', 'Sakti'),
 ('Madhya Pradesh', 'Panna'),
 ('Gujarat', 'Morbi'),
 ('Uttar Pradesh', 'Sonbhadra'),
 ('Andhra Pradesh', 'Visakhapatanam'),
 ('Gujarat', 'Rajkot'),
 ('Jammu and Kashmir', 'Badgam'),
 ('Tamil Nadu', 'Karur'),
 ('Madhya Pradesh', 'Hoshangabad'),
 ('Manipur', 'Ukhrul'),
 ('Assam', 'Dhemaji'),
 ('Himachal Pradesh', 'Kullu'),
 ('Andhra Pradesh', 'Kakinada'),
 ('Chhattisgarh', 'Surajpur'),
 ('Andhra Pradesh', 'Kurnool'),
 ('Rajasthan', 'Ganganagar'),
 ('Sikkim', 'Soreng'),
 ('Nagaland', 'Mon'),
 ('Haryana', 'Hisar'),
 ('Madhya Pradesh', 'Agar malwa'),
 ('Odisha', 'Nayagarh'),
 ('Arunachal Pradesh', 'Changlang'),
 ('Jharkhand', 'Gumla'),
 ('Manipur', 'Imphal west'),
 ('Andhra Pradesh', 'Anantapur'),
 ('Tamil Nadu', 'Ariyalur'),
 ('Bihar', 'Patna'),
 ('Rajasthan', 'Barmer'),
 ('Uttar Pradesh', 'Mau'),
 ('Maharashtra', 'Satara'),
 ('Madhya Pradesh', 'Bhind'),
 ('Uttar Pradesh', 'Balrampur'),
 ('Jammu and Kashmir', 'Reasi'),
 ('Meghalaya', 'East khasi hills'),
 ('Jammu and Kashmir', 'Shopian'),
 ('Andhra Pradesh', 'Ntr'),
 ('West Bengal', 'Jalpaiguri'),
 ('Tamil Nadu', 'The nilgiris'),
 ('Gujarat', 'Valsad'),
 ('Meghalaya', 'West garo hills'),
 ('Odisha', 'Kandhamal'),
 ('Chhattisgarh', 'Kondagaon'),
 ('Odisha', 'Anugul'),
 ('Madhya Pradesh', 'Ashoknagar'),
 ('Maharashtra', 'Wardha'),
 ('Telangana', 'Sangareddy'),
 ('Uttar Pradesh', 'Rampur'),
 ('Andhra Pradesh', 'Parvathipuram manyam'),
 ('Madhya Pradesh', 'Chhatarpur'),
 ('Maharashtra', 'Jalna'),
 ('Telangana', 'Nalgonda'),
 ('Odisha', 'Puri'),
 ('Arunachal Pradesh', 'Longding'),
 ('Uttarakhand', 'Chamoli'),
 ('Gujarat', 'Porbandar'),
 ('Assam', 'Kokrajhar'),
 ('Jharkhand', 'Hazaribagh'),
 ('Sikkim', 'Mangan'),
 ('Rajasthan', 'Banswara'),
 ('Punjab', 'Mansa'),
 ('West Bengal', 'Medinipur west'),
 ('Andhra Pradesh', 'Chittoor'),
 ('Jharkhand', 'Ramgarh'),
 ('Jharkhand', 'West singhbhum'),
 ('Rajasthan', 'Bhilwara'),
 ('Odisha', 'Rayagada'),
 ('Uttar Pradesh', 'Varanasi'),
 ('Jammu and Kashmir', 'Leh ladakh'),
 ('Assam', 'Lakhimpur'),
 ('Karnataka', 'Chikballapur'),
 ('Karnataka', 'Haveri'),
 ('Maharashtra', 'Bhandara'),
 ('Uttar Pradesh', 'Kaushambi'),
 ('Jharkhand', 'Ranchi'),
 ('Punjab', 'Fazilka'),
 ('Telangana', 'Adilabad'),
 ('Andhra Pradesh', 'Alluri sitharama raju'),
 ('Kerala', 'Wayanad'),
 ('Chhattisgarh', 'Raipur'),
 ('Odisha', 'Ganjam'),
 ('West Bengal', 'Medinipur east'),
 ('Uttar Pradesh', 'Sant kabeer nagar'),
 ('Odisha', 'Bhadrak'),
 ('Uttar Pradesh', 'Gorakhpur'),
 ('Gujarat', 'Bhavnagar'),
 ('Uttar Pradesh', 'Mainpuri'),
 ('Madhya Pradesh', 'Sheopur'),
 ('Assam', 'Kamrup'),
 ('Madhya Pradesh', 'Tikamgarh'),
 ('Madhya Pradesh', 'Ratlam'),
 ('Madhya Pradesh', 'Rewa'),
 ('West Bengal', 'Hooghly'),
 ('Nagaland', 'Dimapur'),
 ('Maharashtra', 'Latur'),
 ('Nagaland', 'Nuiland'),
 ('Arunachal Pradesh', 'Kamle'),
 ('Telangana', 'Rajanna'),
 ('Assam', 'Hojai'),
 ('Punjab', 'Hoshiarpur'),
 ('Karnataka', 'Gadag'),
 ('Uttar Pradesh', 'Mahoba'),
 ('Rajasthan', 'Dausa'),
 ('Tamil Nadu', 'Tiruvannamalai'),
 ('Assam', 'Nagaon'),
 ('Karnataka', 'Dharwad'),
 ('Bihar', 'Bhojpur'),
 ('West Bengal', 'Bankura'),
 ('Meghalaya', 'East jaintia hills'),
 ('Assam', 'Karimganj'),
 ('Madhya Pradesh', 'Mandsaur'),
 ('West Bengal', 'Dinajpur dakshin'),
 ('Odisha', 'Boudh'),
 ('Tripura', 'Sepahijala'),
 ('Uttar Pradesh', 'Mirzapur'),
 ('Madhya Pradesh', 'Datia'),
 ('Karnataka', 'Chikmagalur'),
 ('Gujarat', 'Patan'),
 ('West Bengal', 'Dinajpur uttar'),
 ('Mizoram', 'Champhai'),
 ('Himachal Pradesh', 'Una'),
 ('Daman and Diu', 'Daman'),
 ('Karnataka', 'Uttar kannad'),
 ('Kerala', 'Kozhikode'),
 ('Jammu and Kashmir', 'Jammu'),
 ('Gujarat', 'Junagadh'),
 ('Mizoram', 'Saiha'),
 ('Uttarakhand', 'Champawat'),
 ('Chhattisgarh', 'Dantewada'),
 ('Madhya Pradesh', 'Mandla'),
 ('Maharashtra', 'Raigad'),
 ('Arunachal Pradesh', 'Papum pare'),
 ('Chhattisgarh', 'Mungeli'),
 ('Uttar Pradesh', 'Deoria'),
 ('Bihar', 'Araria'),
 ('Uttar Pradesh', 'Moradabad'),
 ('Andaman and Nicobar Islands', 'Nicobars'),
 ('Uttar Pradesh', 'Chitrakoot'),
 ('Karnataka', 'Yadgir'),
 ('Haryana', 'Yamunanagar'),
 ('Nagaland', 'Kohima'),
 ('Telangana', 'Jayashankar'),
 ('Uttarakhand', 'Rudra prayag'),
 ('Assam', 'Golaghat'),
 ('Tripura', 'South tripura'),
 ('Rajasthan', 'Sirohi'),
 ('Nagaland', 'Phek'),
 ('Uttar Pradesh', 'Agra'),
 ('Tripura', 'West tripura'),
 ('Sikkim', 'Geyzing'),
 ('Maharashtra', 'Sindhudurg'),
 ('Gujarat', 'Gandhinagar'),
 ('Odisha', 'Khordha'),
 ('West Bengal', 'Murshidabad'),

In [5]:
# convert all_state_districts to a df
df = pd.DataFrame(all_states_districts, columns=['State', 'District'])

In [7]:
df.to_csv("_all_states_districts.csv", index=False)

In [9]:
import geopandas as gpd
import pandas as pd

url = 'https://bharatviz.saketlab.in/India_LGD_Districts_simplified.geojson'
gdf = gpd.read_file(url)

print(gdf.columns)

state_district_df = gdf[['state_name', 'district_name']].dropna()

state_district_df = state_district_df.drop_duplicates()

state_district_df

Index(['state_name', 'district_name', 'geometry'], dtype='object')

         state_name             district_name
0     A & N Islands                  Nicobars
1     A & N Islands  North And Middle Andaman
2     A & N Islands            South Andamans
3    Andhra Pradesh     Alluri Sitharama Raju
4    Andhra Pradesh                Anakapalli
..              ...                       ...
780     West Bengal               Murshidabad
781     West Bengal                     Nadia
782     West Bengal         Paschim Bardhaman
783     West Bengal           Purba Bardhaman
784     West Bengal                   Purulia

[785 rows x 2 columns]

In [11]:
state_district_df.to_csv("_actual_states_districts.csv", index=False)

In [12]:
# editted the _all_states_districts.csv file manually to match the state and district names with the actual_states_districts.csv file

ref_df = pd.read_csv('_all_states_districts.csv')
ref_df

,state,district,corrected_state,corrected_district
0,Andaman and Nicobar Islands,Nicobars,A & N Islands,Nicobars
1,Andaman and Nicobar Islands,North and middle andaman,A & N Islands,North And Middle Andaman
2,Andaman and Nicobar Islands,South andamans,A & N Islands,South Andamans
3,Andhra Pradesh,Alluri sitharama raju,Andhra Pradesh,Alluri Sitharama Raju
4,Andhra Pradesh,Anakapalli,Andhra Pradesh,Anakapalli
...,...,...,...,...
739,West Bengal,Murshidabad,West Bengal,Murshidabad
740,West Bengal,Nadia,West Bengal,Nadia
741,West Bengal,Paschim bardhaman,West Bengal,Paschim Bardhaman
742,West Bengal,Purba bardhaman,West Bengal,Purba Bardhaman
743,West Bengal,Purulia,West Bengal,Purulia

In [15]:
state = 'Andaman and Nicobar Islands'
district = 'South andamans'

match = ref_df[(ref_df['state'] == state) & (ref_df['district'] == district)]

if not match.empty:
    corrected_state = match.iloc[0]['corrected_state']
    corrected_district = match.iloc[0]['corrected_district']
    print(corrected_state, corrected_district)
else:
    print("No match found")

A & N Islands South Andamans

In [ ]:
for file in csv_files:
    df = pd.read_csv(file)
    for index, row in df.iterrows():
        # see the state and district of this row
        state = row['State']
        district = row['District']
        
        match = ref_df[(ref_df['state'] == state) & (ref_df['district'] == district)]

        if not match.empty:
            corrected_state = match.iloc[0]['corrected_state']
            corrected_district = match.iloc[0]['corrected_district']
        else:
            corrected_state = state
            corrected_district = district

        # assign these new values to the df
        df.at[index, 'State'] = corrected_state
        df.at[index, 'District'] = corrected_district

    df = df.sort_values(by=['State', 'District'])

    df.to_csv(file, index=False)

In [21]:
# list the files from csv_files where multiple rows have the same state and district
for file in csv_files:
    df = pd.read_csv(file)
    duplicates = df[df.duplicated(subset=['State', 'District'], keep=False)]
    if not duplicates.empty:
        print(file)
        print(duplicates)

arhar_tur.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
548  Telangana  Warangal         0.28         0.54         0.43         0.42
549  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
548         0.29          0.5         0.35         0.41  ...         0.65
549          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
548         0.51         0.65         0.56          0.8         0.65
549          NaN          NaN         0.56          0.8         0.65

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
548          0.9         0.57         0.64         1.12
549          0.9         0.78         0.65         0.43

[2 rows x 25 columns]
bajra.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
415  Telangana  Warangal          0.6         0.47         0.47         0.61
416  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
415         0.32         0.63         0.36          0.5  ...          NaN
416          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
415         0.94          1.0          NaN          NaN          NaN
416          NaN          NaN          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
415          1.0          NaN          NaN         3.33
416          NaN          NaN          1.0         3.00

[2 rows x 25 columns]
banana.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
340  Telangana  Warangal         25.6         22.5         24.4         14.0
341  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
340        14.98         20.9        24.34          NaN  ...        31.14
341          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
340        42.17        47.84        46.27        72.69        77.82
341          NaN          NaN          NaN        64.44        61.56

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
340        68.30        68.26        24.02        76.03
341        59.13        47.00        34.10        42.19

[2 rows x 25 columns]
castorseed.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
380  Telangana  Warangal         0.58         0.62         0.45         0.74
381  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
380         0.97         0.41         0.38         0.33  ...         0.54
381          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
380         0.44         0.22          NaN          NaN          NaN
381          NaN          NaN          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
380          1.0          NaN          1.0         1.00
381          NaN          1.0          0.5         0.67

[2 rows x 25 columns]
coriander.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
332  Telangana  Warangal         0.26         0.49         0.42         0.27
333  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
332          0.6         0.42         0.56          NaN  ...         0.73
333          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
332         0.24         0.39         0.63         0.83          1.0
333          NaN          NaN          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
332         0.93         5.96          NaN          NaN
333          NaN         1.00          NaN          NaN

[2 rows x 25 columns]
cotton.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
399  Telangana  Warangal         2.52         1.72         1.42         2.26
400  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
399         1.88         2.46         2.34         2.97  ...         2.77
400          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
399         2.66         2.56         3.03         1.70         2.64
400          NaN          NaN         3.03         2.26         2.25

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
399         2.82         2.25         3.12         4.05
400         2.66         1.50         2.56         3.75

[2 rows x 25 columns]
cowpea_lobia.csv
         State  District  2006 - 2007  2008 - 2009  2009 - 2010  2010 - 2011  \
223  Telangana  Warangal          NaN          NaN          NaN          NaN
224  Telangana  Warangal          NaN          NaN          NaN          NaN

     2011 - 2012  2012 - 2013  2013 - 2014  2014 - 2015  2015 - 2016  \
223         0.75          0.5         0.79         0.38         7.01
224          NaN          NaN          NaN          NaN          NaN

     2016 - 2017  2017 - 2018  2018 - 2019  2019 - 2020  2020 - 2021  \
223          0.5         1.17         1.01         0.96         1.08
224          0.5         1.30         1.13         0.89         1.00

     2021 - 2022  2022 - 2023
223         0.42         0.86
224         0.66         0.91
dry_chillies.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
474  Telangana  Warangal          NaN          NaN          NaN          NaN
475  Telangana  Warangal         2.37         2.02         1.92         2.02

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
474          NaN          NaN          NaN          NaN  ...          NaN
475         2.67         2.54         2.67         2.52  ...         3.25

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
474          NaN          NaN         4.57         1.83         4.29
475         2.97         2.92         4.34         4.15         5.77

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
474         5.39         6.03         3.01         5.21
475         4.20         5.32         1.08         2.12

[2 rows x 25 columns]
ginger.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
381  Telangana  Warangal          NaN          NaN          NaN          NaN
382  Telangana  Warangal         3.91         2.27          1.6          3.0

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
381          NaN          NaN          NaN          NaN  ...          NaN
382          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
381          NaN          NaN          NaN          NaN          NaN
382          NaN          NaN          NaN          7.0          7.0

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
381          NaN          NaN          9.0          NaN
382          7.0          8.9          9.0          NaN

[2 rows x 25 columns]
gram.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
524  Telangana  Warangal         0.72         1.11         1.24         1.19
525  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
524         0.88         1.42         1.38          0.5  ...         0.84
525          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
524         1.34         1.14          1.3         1.52         1.57
525          NaN          NaN          1.3         1.52         1.57

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
524         1.53         1.67         0.59         1.07
525         1.53         1.68         0.49         2.00

[2 rows x 25 columns]
groundnut.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
476  Telangana  Warangal         1.21         1.06         0.95         1.29
477  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
476         1.15         1.46         1.38         1.51  ...         1.79
477          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
476         1.82         1.77         3.26         3.28         3.17
477          NaN          NaN         2.42         2.23         2.49

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
476         3.30         2.40         2.29         2.87
477         2.39         2.26         0.88         1.53

[2 rows x 25 columns]
horse_gram.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
301  Telangana  Warangal          NaN          NaN          NaN          NaN
302  Telangana  Warangal          0.2         0.33         0.13         0.33

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
301          NaN          NaN          NaN          NaN  ...          NaN
302         0.32         0.26         0.29          NaN  ...         0.48

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
301          NaN          NaN          NaN          NaN          NaN
302         0.38         0.45          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
301          NaN         1.54          0.6          0.5
302          NaN         1.00          1.0          NaN

[2 rows x 25 columns]
jowar.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
430  Telangana  Warangal         0.37          0.6         0.66         0.61
431  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
430         0.57         0.52         0.63         0.57  ...         0.69
431          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
430         0.67         0.58          1.2         1.35         1.64
431          NaN          NaN          NaN         1.00          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
430         2.05         2.34         0.92         2.03
431         1.19         1.34         1.69         0.78

[2 rows x 25 columns]
maize.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
605  Telangana  Warangal          NaN          NaN          NaN          NaN
606  Telangana  Warangal         2.56         3.34         2.73         3.59

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
605          NaN          NaN          NaN          NaN  ...          NaN
606         3.66         4.08         3.49         4.43  ...         4.98

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
605          NaN          NaN         6.05         6.85         5.44
606         4.89         4.83         7.00         7.72         7.57

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
605         6.60         7.70         7.99         7.43
606         6.54         6.89         7.78         5.95

[2 rows x 25 columns]
moong.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
566  Telangana  Warangal         0.33         0.52          0.2         0.54
567  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
566         0.58         0.61          0.6         0.56  ...         0.87
567          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
566         0.59         0.66         0.81         0.72         0.74
567          NaN          NaN         0.80         0.71         0.79

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
566         0.86         0.64         0.93         0.36
567         0.85         0.59         0.63         0.76

[2 rows x 25 columns]
onion.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
484  Telangana  Warangal        24.89        26.13        24.99        27.03
485  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ... 2013 - 2014  \
484        22.01         18.9        24.14          NaN  ...       33.04
485          NaN          NaN          NaN          NaN  ...         NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
484        27.31        29.83        32.34        36.37        29.15
485          NaN          NaN        32.84        35.71        28.14

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
484        33.93        32.24        23.18        25.55
485        34.25        30.87        22.19        24.38

[2 rows x 25 columns]
ragi.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
322  Telangana  Warangal          NaN          NaN          NaN          NaN
323  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
322          NaN          NaN          NaN          NaN  ...          NaN
323          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
322          NaN          NaN          NaN          NaN          NaN
323          NaN          NaN          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
322         1.56          2.0          NaN          NaN
323         1.60          NaN          NaN          1.0

[2 rows x 25 columns]
rice.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
604  Telangana  Warangal          NaN          NaN          NaN          NaN
605  Telangana  Warangal         2.89         2.87         2.17          3.0

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
604          NaN          NaN          NaN          NaN  ...          NaN
605         2.73          3.2         2.82         2.99  ...         3.14

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
604          NaN          NaN         3.63         3.39         3.40
605         3.08         3.16         3.69         2.73         3.37

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
604         3.66         3.30         3.54         3.72
605         3.59         3.41         3.16         3.40

[2 rows x 25 columns]
safflower.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
234  Telangana  Warangal          NaN         0.33          NaN         0.29
235  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
234         0.44         0.47          NaN          NaN  ...          NaN
235          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
234          NaN          NaN          NaN          NaN          NaN
235          NaN          NaN          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
234          NaN          1.0         1.00         1.00
235          NaN          NaN         0.98         0.86

[2 rows x 25 columns]
sesamum.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
569  Telangana  Warangal         0.17         0.26         0.25         0.38
570  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
569         0.38         0.24         0.21         0.21  ...         0.23
570          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
569         0.23         0.03          0.5         0.48         0.47
570          NaN          NaN          0.1         0.50          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
569         0.57         0.57         0.71         0.80
570         0.64         0.58         0.74         0.71

[2 rows x 25 columns]
small_millets.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
462  Telangana  Warangal          NaN          NaN          NaN          NaN
463  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
462          NaN          NaN          NaN          NaN  ...          NaN
463          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
462          NaN          NaN          NaN          NaN          NaN
463          NaN          NaN          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
462         1.73          1.0          NaN          NaN
463         1.73          NaN         0.67          NaN

[2 rows x 25 columns]
soyabean.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
357  Telangana  Warangal          NaN          NaN          NaN          NaN
358  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
357          NaN          NaN          NaN          NaN  ...          NaN
358         1.57          NaN          NaN          NaN  ...         1.61

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
357          NaN          NaN         1.17         2.00         1.60
358         1.08         1.04         1.17         1.64         1.58

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
357         1.78         1.47         1.73         1.61
358         1.80         1.53         1.72         1.58

[2 rows x 25 columns]
sunflower.csv
         State  District  2000 - 2001  2001 - 2002  2002 - 2003  2003 - 2004  \
377  Telangana  Warangal         1.65         1.63         2.05         1.47
378  Telangana  Warangal          NaN          NaN          NaN          NaN

     2004 - 2005  2005 - 2006  2006 - 2007  2007 - 2008  ...  2013 - 2014  \
377         0.57         1.03         1.18          NaN  ...         0.96
378          NaN          NaN          NaN          NaN  ...          NaN

     2014 - 2015  2015 - 2016  2016 - 2017  2017 - 2018  2018 - 2019  \
377         1.43         1.14          2.0          2.0          2.0
378          NaN          NaN          NaN          NaN          NaN

     2019 - 2020  2020 - 2021  2021 - 2022  2022 - 2023
377          NaN         2.73         1.36         1.90
378          NaN         2.73         1.36         1.87


In [23]:
# manually handled the duplicates
for file in csv_files:
    df = pd.read_csv(file)
    duplicates = df[df.duplicated(subset=['State', 'District'], keep=False)]
    if not duplicates.empty:
        print(file)
        print(duplicates)